
<main class='row'>
  <div class='col-12'>
    <nav class='context_navigation'>
      <%= link_to t('views.navigation.go_back'), seeker_offers_path, class: 'btn btn-outline-secondary' %>
    </nav>

    <header class='header'>
      <h1>
        <%= "#{t('activerecord.models.job/application/offer.one')} #{t('views.support.of')} #{@offer.head_hunter.resolve_name}" %>

        <%= image_tag url_for(@offer.head_hunter.avatar),
                      alt: @offer.head_hunter.resolve_name,
                      class: 'avatar_large' %>
      </h1>

      <h2 class="indent">
        <%= "#{t('views.support.sent')} #{l(@offer.created_at, format: :long)}" %>
      </h2>
    </header>

    <%= render 'offer' %>

    <div class='actions mt-4'>

    </div>
  </div>
</main>
