<main class='row'>
  <div class='col-md-12'>
    <nav class='context_navigation'>
      <%= link_to t('views.navigation.go_back'), head_hunters_job_path(@job), class: 'btn btn-secondary' %>
      <%= link_to t('views.navigation.reject'), head_hunters_job_application_rejection_path(@job, @application),
                  class: 'btn btn-danger' %>
    </nav>

    <header class='header'>
      <div class="applicant_title">
        <h1> <%= @applicant.resolve_name %> </h1>

        <%= render 'standout_form', application: @application %>
      </div>

      <p> <%= @applicant.profile.bio %> </p>
    </header>

    <section class='contents row'>
      <dl class="col">
        <dt><%= t('activerecord.attributes.job/application.cover_letter') %>:</dt>
        <dd> <%= @application.cover_letter %> </dd>
      </dl>
    </section>

    <div class='actions mt-4'>
    </div>
  </div>
</main>
