<%= render 'shared/error_messages', object: @comment %>

<main class='row'>
  <div class='col-md-12'>
    <nav class='context_navigation'>
      <%= link_to t('views.navigation.go_back'), head_hunters_job_path(@job), class: 'btn btn-secondary' %>
    </nav>

    <header class='header'>
      <h1> <%= @applicant.resolve_name %> </h1>

      <p> <%= @profile.bio %> </p>
    </header>

    <section class='contents row'>

      <aside class="col-3">
        <% if @profile.avatar.attached? %>
          <%= image_tag url_for(@profile.avatar),
                      alt: @applicant.resolve_name,
                      class: 'profile_avatar center' %>
        <% else %>
          <%= image_tag 'avatar_placeholder.png',
                      alt: 'User avatar placeholder',
                      class: 'profile_avatar' %>
        <% end %>

        <dl class="side_info_box">
          <dt><%= t('activerecord.attributes.job_seeker.email') %>:</dt>
          <dd><%= @applicant.email %> </dd>
        </dl>
      </aside>

      <dl class="col-5">
        <dt><%= t('activerecord.attributes.job_seeker/profile.date_of_birth') %>:</dt>
        <dd> <%= l(@profile.date_of_birth) %> </dd>
        <dt><%= t('activerecord.attributes.job_seeker/profile.high_school') %>:</dt>
        <dd> <%= @profile.high_school %> </dd>
        <dt><%= t('activerecord.attributes.job_seeker/profile.college') %>:</dt>
        <dd> <%= @profile.college %> </dd>
        <dt><%= t('activerecord.attributes.job_seeker/profile.degrees') %>:</dt>
        <dd> <%= @profile.degrees %> </dd>
        <dt><%= t('activerecord.attributes.job_seeker/profile.courses') %>:</dt>
        <dd> <%= @profile.courses %> </dd>
        <dt><%= t('activerecord.attributes.job_seeker/profile.interests') %>:</dt>
        <dd> <%= @profile.interests %> </dd>
        <dt><%= t('activerecord.attributes.job_seeker/profile.work_experience') %>:</dt>
        <dd> <%= @profile.work_experience %> </dd>
      </dl>

    </section>

    <%= render 'comment_form' %>

    <section class='contents row'>

        <% if @profile.comments.empty? %>
          <p class="empty_resource"><%= t('views.job_seekers/profiles/comments.empty_resource') %></p>
        <% else %>
          <dl class="comment_feed col-12">
            <h2><%= t('activerecord.models.job_seeker/profile/comment.other') %></h2>

            <% @profile.comments.each do |comment| %>
              <dt id="comment-<%= comment.id %>" class="comment_head">
                <span class="comment_creator">
                  <%= image_tag url_for(comment.head_hunter.avatar),
                    alt: comment.head_hunter.resolve_name,
                    class: 'commenter_avatar' %>

                  <span class="commenter_name">
                    <%= comment.head_hunter.resolve_name %>
                  </span>
                </span>
                <span class="comment_timestamp">
                  <%= l(comment.created_at, format: :long) %>
                </span>
              </dt>

              <dd id="comment-<%= comment.id %>" class="comment_content">
                <%= comment.content %>
              </dd>
            <% end %>
          </dl>
        <% end %>

    </section>

    <div class='actions mt-4'>
    </div>
  </div>
</main>
