<%= form_with model: @job, url: yield(:resource_path), local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class='form-group'>
    <%= f.label :position %>
    <%= f.text_field :position, required: true, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title, required: true, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :description %>
    <%= f.text_area :description, required: true, min: 50, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :expires_on %>
    <%= f.date_field :expires_on, value: 1.month.from_now, min: 1.month.from_now, 
                     required: true, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :salary_floor %>
    <%= f.number_field :salary_floor, required: true, min: @job.minimum_wage,
                        class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :salary_roof %>
    <%= f.number_field :salary_roof, required: true, min: @job.minimum_wage + 200,
                        class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :skills %>
    <%= f.text_field :skills, required: true, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :location %>
    <%= f.text_field :location, required: true, class: 'form-control' %>
  </div>

  <%= f.submit t('views.actions.send'), class: 'btn btn-primary' %>
<% end %>
