<main class='row'>
  <div class='col-md-12'>
    <nav>
    </nav>

    <header class='header'>
      <h1><%= t('activerecord.models.job.other') %></h1>

      <p><%= t('views.resources.jobs.description') %></p>
    </header>

    <section class='contents'>

      <% if @jobs.empty? %>
        <p><%= t('views.resources.jobs.empty_resource') %></p>
      <% end %>

      <table class="col index_table">
        <thead class="index_table_head">
          <tr class="index_table_row">
            <th><%= t('activerecord.attributes.job.title') %></th>
            <th></th>
          </tr>
        </thead>

        <tbody class="index_table_body">
          <% @jobs.each do |job| %>
            <tr class="index_table_row" id="car-category-<%= job.id %>">
              <td><%= job.title %></td>

              <td><%= link_to t('views.navigation.details'), head_hunters_jobs_path(job), id: "details-#{job.id}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </section>

    <div class='actions mt-4'>
    </div>
  </div>
</main>
