
<main class='row'>
  <div class='col-12'>
    <nav class='context_navigation'>
      <%= link_to t('views.navigation.go_back'), head_hunters_jobs_path, class: 'btn btn-secondary' %>
    </nav>

    <header class='header'>
      <h1> <%= "#{@job.position} #{t('views.support.of')} #{@job.title}" %> </h1>

      <p> <%= @job.description %> </p>
    </header>

    <section class='contents row'>
      <aside class="col-3">
        <dl class="side_info_box">
          <dt><%= t('activerecord.attributes.job.created_by') %>:</dt>
          <dd><%= @job.head_hunter.resolve_name %> </dd>
          <dt><%= t('activerecord.attributes.head_hunter.email') %>:</dt>
          <dd><%= @job.head_hunter.email %> </dd>
        </dl>
      </aside>

      <dl>
        <dt class="job_status <%= @job.active? ? 'active_job' : 'inactive_job' %>"> 
          <%= @job.active? ? t('activerecord.attributes.job.active') : t('activerecord.attributes.job.inactive') %>
        </dt>
        <dt><%= t('activerecord.attributes.job.skills') %>:</dt>
        <dd> <%= @job.skills %> </dd>
        <dt><%= t('activerecord.attributes.job.salary_range') %>:</dt>
        <dd> <%= number_to_currency(@job.salary_floor) + '-' + number_to_currency(@job.salary_roof) %> </dd>
        <dt><%= t('activerecord.attributes.job.location') %>:</dt>
        <dd> <%= @job.location %> </dd>
        <dt><%= t('activerecord.attributes.job.expires_on') %>:</dt>
        <dd> <%= l(@job.expires_on) %> </dd>
      </dl>

      <aside class="col-3">
        <% if @job.applicants.empty? %>
          <p class="empty_resource"><%= t('views.job_seekers/applications.empty_resource') %></p>
        <% else %>
          <dl class="side_info_box">
            <dt><%= t('activerecord.models.job/application.other') %>:</dt>
            <% @job.applications.each do |application| %>
              <dd id="application-<%= application.id %>">
                <%= link_to application.job_seeker.resolve_name,
                            head_hunters_job_applicant_path(@job, application.job_seeker), 
                            id: "profile-#{application.job_seeker.id}" %>,
                <%= link_to t('views.navigation.letter'),
                            head_hunters_job_application_path(@job, application) %>
              </dd>
            <% end %>
          </dl>
        <% end %>
      </aside>
    </section>

    <div class='actions mt-4'>

    </div>
  </div>
</main>
