
<main class='row'>
  <div class='col-12'>
    <nav class='context_navigation'>
      <%= link_to t('views.navigation.go_back'), hunter_jobs_path, class: 'btn btn-outline-secondary' %>

      <%= link_to t('views.actions.retire'), hunter_job_retire_path(@job),
                  data: { confirm: t('views.messages.retire_job') },
                  method: :patch, class: 'btn btn-danger' %>
    </nav>

    <header class='header'>
      <h1> <%= "#{@job.position} #{t('views.support.of')} #{@job.title}" %> </h1>

      <p class="indent"> <%= @job.description %> </p>
    </header>

    <section class='contents row'>

      <aside class="col-3">
        <% if @job.head_hunter.avatar.attached? %>
          <%= image_tag url_for(@job.head_hunter.avatar),
                      alt: @job.head_hunter.resolve_name,
                      class: 'profile_avatar center' %>
        <% else %>
          <%= image_tag 'avatar_placeholder.png',
                      alt: 'User avatar placeholder',
                      class: 'profile_avatar' %>
        <% end %>

        <dl class="side_info_box">
          <dt><%= t('activerecord.attributes.job.created_by') %>:</dt>
          <dd><%= @job.head_hunter.resolve_name %> </dd>
          <dt><%= t('activerecord.attributes.head_hunter.email') %>:</dt>
          <dd><%= @job.head_hunter.email %> </dd>
        </dl>
      </aside>

      <dl class="col-5">
        <dt class="job_status <%= @job.active? ? 'active_job' : 'inactive_job' %>"> 
          <%= @job.active? ? t('activerecord.attributes.job.active') : t('activerecord.attributes.job.inactive') %>
        </dt>
        <dt><%= t('activerecord.attributes.job.skills') %>:</dt>
        <dd> <%= @job.skills %> </dd>
        <dt><%= t('activerecord.attributes.job.salary_range') %>:</dt>
        <dd> <%= number_to_currency(@job.salary_floor) + '-' + number_to_currency(@job.salary_roof) %> </dd>
        <dt><%= t('activerecord.attributes.job.location') %>:</dt>
        <dd> <%= @job.location %> </dd>
        <dt><%= t('activerecord.attributes.job.expires_on') %>:</dt>
        <dd> <%= l(@job.expires_on) %> </dd>
      </dl>

      <aside class="col-4">
        <% if @job.applicants.empty? %>
          <p class="empty_resource"><%= t('views.job_seekers/applications.empty_resource') %></p>
        <% else %>
          <dl class="side_info_box">
            <h2><%= t('activerecord.models.job/application.other') %></h2>
            <% @applications.each do |application| %>
              <dd id="application-<%= application.id %>" class="application_container">
                  <span class="applicant_container">
                    <%= render 'hunter/shared/small_standout_form', application: application %>

                    <%= link_to application.job_seeker.resolve_name,
                                hunter_applicant_path(application.job_seeker), 
                                id: "profile-#{application.job_seeker.id}",
                                class: 'application_link' %>
                  </span>

                  <%= link_to t('views.navigation.letter'),
                              hunter_application_path(application),
                              class: 'application_link' %>
              </dd>
            <% end %>
          </dl>
        <% end %>
      </aside>

    </section>

    <div class='actions mt-4'>

    </div>
  </div>
</main>
