<%= form_with model: @offer, url: yield(:resource_path), local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class='form-group'>
    <%= f.label :start_date %>
    <%= f.date_field :start_date, value: Date.tomorrow, min: Date.tomorrow, 
                     required: true, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :salary %>
    <%= f.number_field :salary, required: true, min: @job.minimum_wage,
                        class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :responsabilities %>
    <%= f.text_area :responsabilities, required: true, minlength: 50, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :benefits %>
    <%= f.text_area :benefits, required: true, minlength: 50, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :expectations %>
    <%= f.text_area :expectations, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :bonus %>
    <%= f.text_area :bonus, class: 'form-control' %>
  </div>

  <%= f.submit t('views.actions.send'), class: 'btn btn-primary' %>
<% end %>
