<main class='row'>
  <div class='col-md-12'>
    <nav class='context_navigation'>
      <%= link_to t('views.navigation.go_back'), job_seekers_dashboard_path, class: 'btn btn-secondary' %>
      <%= link_to t('views.navigation.edit'), job_seekers_edit_profile_path, class: 'btn btn-primary' %>
    </nav>

    <header class='header'>
      <h1> <%= current_job_seeker.resolve_name %> </h1>

      <p> <%= @profile.bio %> </p>
    </header>

    <section class='contents row'>
      <aside class="col-3">
        <% if @profile.avatar.attached? %>
          <%= image_tag url_for(@profile.avatar),
                      alt: current_job_seeker.resolve_name,
                      class: 'profile_avatar center' %>
        <% else %>
          <%= image_tag 'avatar_placeholder.png',
                      alt: 'User avatar placeholder',
                      class: 'profile_avatar' %>
        <% end %>

        <dl class="side_info_box">
          <dt><%= t('activerecord.attributes.job_seeker.email') %>:</dt>
          <dd><%= current_job_seeker.email %> </dd>
        </dl>
      </aside>

      <dl class="col">
        <dt><%= t('activerecord.attributes.job_seeker/profile.date_of_birth') %>:</dt>
        <dd> <%= l(@profile.date_of_birth) %> </dd>
        <dt><%= t('activerecord.attributes.job_seeker/profile.high_school') %>:</dt>
        <dd> <%= @profile.high_school %> </dd>
        <dt><%= t('activerecord.attributes.job_seeker/profile.college') %>:</dt>
        <dd> <%= @profile.college %> </dd>
        <dt><%= t('activerecord.attributes.job_seeker/profile.degrees') %>:</dt>
        <dd> <%= @profile.degrees %> </dd>
        <dt><%= t('activerecord.attributes.job_seeker/profile.courses') %>:</dt>
        <dd> <%= @profile.courses %> </dd>
        <dt><%= t('activerecord.attributes.job_seeker/profile.interests') %>:</dt>
        <dd> <%= @profile.interests %> </dd>
        <dt><%= t('activerecord.attributes.job_seeker/profile.work_experience') %>:</dt>
        <dd> <%= @profile.work_experience %> </dd>
      </dl>
    </section>

    <div class='actions mt-4'>
    </div>
  </div>
</main>
