<%= form_with local: true, html: { method: :patch } do |f| %>
  <div class='form-group'>
    <%= f.label :feedback, t('views.job_seekers/offers.your_feedback') %>
    <%= f.text_area :feedback, class: 'form-control' %>
  </div>

  <%= f.submit t('views.actions.accept'), class: 'btn btn-primary',
               data: { confirm: t('views.messages.accept_offer', date: l(offer.start_date) )},
               formaction: job_seekers_offer_accept_path(offer) %>
  <%= f.submit t('views.actions.reject'), class: 'btn btn-danger',
               data: { confirm: t('views.messages.reject_offer') },
               formaction: job_seekers_offer_reject_path(offer) %>
<% end %>
