<main class='row'>
  <div class='col-md-12'>
    <nav class='context_navigation'>
      <%= link_to t('views.navigation.go_back'), :back, class: 'btn btn-secondary' %>
    </nav>

    <header class='header'>
      <h1><%= t('activerecord.models.job/application.other') %></h1>

      <p><%= t('views.job_seeker/applications.description') %></p>
    </header>

    <section class='contents'>

      <% if @applications.empty? %>
        <p class="empty_resource"><%= t('views.job_seeker/applications.empty_resource') %></p>
      <% else %>

      <table class="col index_table">
          <thead class="index_table_head">
            <tr class="index_table_row">
              <th><%= t('activerecord.attributes.job.title') %></th>
              <th><%= t('activerecord.attributes.job/application.cover_letter') %></th>
              <th><%= t('activerecord.attributes.job.expires_on') %></th>
            </tr>
          </thead>

          <tbody class="index_table_body">
            <% @applications.each do |application| %>
              <tr class="index_table_row" id="application-<%= application.id %>">
                <td><%= application.job.title %></td>
                <td><%= application.cover_letter %></td>
                <td>
                  <span class="job_status_dot <%= application.job.active? ?
                                                    'active_job_dot' :
                                                    'inactive_job_dot' %>">
                  </span>
                  <%= l(application.job.expires_on) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

    </section>

    <div class='actions mt-4'>
    </div>
  </div>
</main>
