<main class='row'>
  <div class='col-md-12'>
    <nav class='context_navigation'>
      <%= link_to t('views.navigation.go_back'), seeker_applications_path, class: 'btn btn-outline-secondary' %>
    </nav>

    <header class='header'>
      <h1>
        <%= "#{@application.job.position} #{t('views.support.of')} #{@application.job.title}" %>
      </h1>

      <h2 class="application_status <%= @application.rejected? ? 'rejected_application' : 'ongoing_application' %>">
        <%= "#{t('activerecord.attributes.job/application.status')}: #{@application.status}" %>
      </h2>

    </header>

    <section class='contents row'>
      <dl class="col">
        <dt><%= t('activerecord.attributes.job/application.cover_letter') %>:</dt>
        <dd class="indent"> <%= @application.cover_letter %> </dd>
      </dl>
    </section>

    <% if @application.rejected? %>
      <section class='contents row'>
        <dl class="col">
          <dt><%= t('activerecord.attributes.job/application.rejection_feedback') %>:</dt>
          <dd class="indent"> <%= @application.rejection_feedback %> </dd>
        </dl>
      </section>
    <% end %>

    <%= render 'offers' %>

  </div>
</main>
