<% if head_hunter_signed_in? %>
  <li class='nav_item'>
    <%= link_to t('activerecord.models.job.other'), head_hunters_jobs_path,
                class: 'nav_item' %>
  </li>

  <li class='nav_item dropdown' id="account_dropdown">
    <a class='nav_item dropdown-toggle' role='button' id='resourcesDropdown' 
      data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
      <%= t('views.navigation.account') %>
    </a>

    <div class='dropdown-menu dropdown-menu-right' aria-labelledby='resourcesDropdown'>
      <%= link_to t('views.navigation.change_password'), edit_head_hunter_registration_path, 
                  class: 'nav_dropdown_item dropdown-item' %>
      <%= link_to t('views.actions.log_out'), destroy_head_hunter_session_path, 
                  method: :delete, class: 'nav_dropdown_item dropdown-item' %>
    </div>
  </li>
<% elsif !job_seeker_signed_in? %>
  <li class='nav_item dropdown' id="head_hunters_dropdown">
    <a class='nav_item dropdown-toggle' role='button' id='resourcesDropdown' 
      data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
      <%= t('views.navigation.head_hunter') %>
    </a>

    <div class='dropdown-menu dropdown-menu-right' aria-labelledby='resourcesDropdown'>
      <%= link_to t('views.navigation.log_in'), new_head_hunter_session_path, 
                  class: 'nav_dropdown_item dropdown-item' %>
      <%= link_to t('views.navigation.create_account'), new_head_hunter_registration_path, 
                  class: 'nav_dropdown_item dropdown-item' %>
    </div>
  </li>
<% end %>
