<header class='main_headbar navbar navbar-light'>
  <%= link_to image_tag("full_logo_title_left_cascade.svg", 
                  alt: t('views.application_name'), width: "200"), root_path, 
                  class: 'logo_svg' %>

  <nav class='nav navbar-right'>
    <li class='nav-item'><%= link_to t('views.navigation.home'), root_path, 
    class: 'header_nav_link' %></li>

    <% if head_hunter_signed_in? %>
      <li class='nav-item'><%= link_to t('views.actions.log_out'), 
      destroy_head_hunter_session_path, method: :delete, 
      class: 'header_nav_link' %></li>
    <% else %>
      <li class='nav-item'><%= link_to t('views.navigation.head_hunter.login'), 
      new_head_hunter_session_path, class: 'header_nav_link' %></li>

      <li class='nav-item'><%= link_to t('views.navigation.head_hunter.signup'), 
      new_head_hunter_registration_path, class: 'header_nav_link' %></li>
    <% end %>

  </nav>
</header>
