<% if job_seeker_signed_in? %>
  <li class='nav_item'>
    <%= link_to t('activerecord.models.job_seeker/profile.my_profile'), 
                job_seekers_show_profile_path, class: 'nav_item' %>
  </li>

  <li class='nav_item dropdown' id="account_dropdown">
    <a class='nav_item dropdown-toggle' role='button' id='resourcesDropdown' 
      data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
      <%= t('views.navigation.account') %>
    </a>

    <div class='dropdown-menu dropdown-menu-right' aria-labelledby='resourcesDropdown'>
      <%= link_to t('views.navigation.change_password'), edit_job_seeker_registration_path, 
                  class: 'nav_dropdown_item dropdown-item' %>
      <%= link_to t('views.actions.log_out'), destroy_job_seeker_session_path, 
                  method: :delete, class: 'nav_dropdown_item dropdown-item' %>
    </div>
  </li>
<% elsif !head_hunter_signed_in? %>
  <li class='nav_item dropdown' id="job_seekers_dropdown">
    <a class='nav_item dropdown-toggle' role='button' id='resourcesDropdown' 
      data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
      <%= t('views.navigation.job_seeker') %>
    </a>

    <div class='dropdown-menu dropdown-menu-right' aria-labelledby='resourcesDropdown'>
      <%= link_to t('views.navigation.log_in'), new_job_seeker_session_path, 
                  class: 'nav_dropdown_item dropdown-item' %>
      <%= link_to t('views.navigation.create_account'), new_job_seeker_registration_path, 
                  class: 'nav_dropdown_item dropdown-item' %>
    </div>
  </li>
<% end %>
